body {
      font-family: 'Orbitron', sans-serif;
      color: crimson;
      background-image: url(http://bestanimations.com/Music/MirrorBalls/animated-purple-disco-ball3.gif);
      background-size: 100%;

}


.p1 {
      font-size: 20px;
      text-align: center; 
      text-transform: capitalize; 
  }

 .p2 {
      font-size: 20px;
      text-align: center;  
      text-transform: capitalize; 
 }


 .p3 {
      font-size: 20px;
      text-align: center; 
      text-transform: capitalize;  
 }
        

 .p4 {
      font-size: 20px;
      text-align: center; 
      text-transform: capitalize; 
 } 
      

 .p5 {
      font-size: 20px;
      text-align: center;  
      text-transform: capitalize;  
 }
       

 .p6{
      font-size: 20px;
      text-align: center; 
      text-transform: capitalize;  
 }
      


 .p7 {
      font-size: 20px;
      text-align: center; 
      text-transform: capitalize;   
 }
      

 .p8 {
      font-size: 20px;
      text-align: center; 
      text-transform: capitalize;  
 }
      

h1    {
      font-size: 100px;
      text-align: center;

}
.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes wobble {
  0% {
  -webkit-transform: none;
  transform: none;
  }
  15% {
  -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
  -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
  -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
  -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
  -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes wobble {
  0% {
  -webkit-transform: none;
  transform: none;
  }
  15% {
  -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
  -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
  -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
  -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
  -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 

  body {
      animation-name: wobble;
      animation-duration: 8s;
      animation-iteration-count: infinite;
}
