body {
      padding: 50px 30 30px 50;
      float: right; 
      margin: 70px 30px 30px 50px;
      position: relative;
      display: inline-flex;

}

.p1 {
      font size: 80;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) double;
  }

 .p2 {
      font size: 90;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      
      border: 1px rgb(150,150,150) inset;

 }

 .p3 {
      font size: 100;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dotted;
 }

 .p4 {
      font size: 110;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) outset;
  }

 .p5 {
      font size: 120;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) solid;
  }

 .p6{
      font size: 130;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) groove;

 }

 .p7 {
      font size: 140;
      text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) inset;
 }
