
 * {
      letter-spacing: 7px;
 }

.h1 {font-family: 'Amatic SC', cursive;
     font font-size: 120px;
}

body {
      padding: 50px 30 30px 50;
      text-align: center; 
      margin: 70px 30px 30px 50px;
      font-family: 'Amatic SC', cursive;  
      line-height: 200%;   

}

.p1 {
      font size: 80;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC', cursive; 
      
  }

 .p2 {
      font size: 90;
      text-align: center;
      margin: 0 auto; 
      font-family: 'Amatic SC', cursive; 
 }


 .p3 {
      font size: 100;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC', cursive; 
      
 }

 .p4 {
      font size: 110;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC', cursive; 
      
  }


 .p5 {
      font size: 120;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC', cursive; 
  }

 .p6{
      font size: 130;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC', cursive; 
 }


 .p7 {
      font size: 140;
      text-align: center;
      font-family: 'Amatic SC', cursive; 
 }

