.p1 {
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width; 
      
  }

 .p2 {
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto; 
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width; 
 }


 .p3 {
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width; 
        
      
 }

 .p4 {
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width; 
      
  }


 .p5 {
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive;  
      text-transform: capitalize, full-width; 
       
  }

 .p6{
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width;  
      
 }


 .p7 {
      font-size: 50px;
      letter-spacing: -10px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width;  
      
 }

 .p8 {
      font-size: 50px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Dancing Script' cursive; 
      text-transform: capitalize, full-width;  
      
 }

h1 {
     font-family: 'Dancing Script' cursive;
     font-size: 100px;
     text-align: center;
}