body {
	padding: 50px 30 30px 50;
	float: right;
	margin: 70px 30px 30px 50px;
	position: relative;
	display: inline-flex;

}

.p1 {
	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
  }

 .p2 {
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      
      border: 1px rgb(150,150,150) dashed;

 }

 .p3 {
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
 }

 .p4 {
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
  }

 .p5 {
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
  }

 .p6{
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;

 }

 .p7 {
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
 }
