body {
	padding: 50px 30 30px 50;
	float: left;
	margin: 70px 30px 30px 50px;
	position: relative;
	display: inline-flex;

}

* {letter letter-spacing: -4px;
}

.p1 {
      font-size: 40px;
	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
  }

 .p2 {
      font size: 50px;
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      
      border: 1px rgb(150,150,150) dashed;

 }

 .p3 {
      font-size: 60px;
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
 }

 .p4 {
      font-size: 140px;
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
  }

 .p5 { 
      font-size: 70px;
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
  }

 .p6{
      font-size: 80px;
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;

 }

 .p7 {
      font size: 90px;
 	text-align: center;
      margin: 0 auto;
      margin-top:500px;
      padding: 0;
      width: 450px;
      border: 1px rgb(150,150,150) dashed;
 }
