.p1 {
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize; 
      
  }

 .p2 {
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto; 
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize; 
 }


 .p3 {
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize; 
        
      
 }

 .p4 {
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize; 
      
  }


 .p5 {
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif;  
      text-transform: capitalize; 
       
  }

 .p6{
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize;  
      
 }


 .p7 {
      font-size: 50px;
      letter-spacing: 12px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize;  
      
 }

 .p8 {
      font-size: 50px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Orbitron', sans-serif; 
      text-transform: capitalize;  
      
 }

h1 {
     font-family: 'Orbitron', sans-serif;
     font-size: 100px;
     text-align: center;
}

body {
      border-style: inset;
      padding: 20px;
}