.p1 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width; 
      
  }

 .p2 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto; 
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width; 
 }


 .p3 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width; 
        
      
 }

 .p4 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width; 
      
  }


 .p5 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC';  
      text-transform: capitalize, full-width; 
       
  }

 .p6{
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width;  
      
 }


 .p7 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width;  
      
 }

 .p8 {
      font size: 1000px;
      letter-spacing: -3.5px;
      text-align: center;
      margin: 0 auto;
      font-family: 'Amatic SC'; 
      text-transform: capitalize, full-width;  
      
 }

.h1 {
     font-family: 'Amatic SC';
     font-size: 1500px;
     text-align: center;
}