@media screen and (max-width: 1024px) {
  body { 
  	background-image: url(https://s-media-cache-ak0.pinimg.com/236x/b2/32/89/b23289815eceff4fbf6fd0bba48a769c.jpg);
   }
}

@media screen and (max-width: 768px) {
  body {
  	background-image: url(http://markewbie.weebly.com/uploads/4/0/3/9/40396485/2987535.jpg?417);

  }
}

@media screen and (max-width: 600px) {
  body {
  		background-image: url(http://www.dogwithhumanhands.com/toons/andrew/stickfiguredancetheater.gif);

  }
}

@media screen and (max-width: 480px) {
  body {
  		background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Dancing_men.svg/2000px-Dancing_men.svg.png); 
  }
}

@media screen and (max-width: 320px) {
  body { 
  		background-image: url ()
   }
}