body {
	font-family: "Rock Salt";
	text-align: center;
	background-image:url(http://www.vectors4all.net/preview/floral-ornaments-vector.jpg); 

}

.picture {position: absolute;
		right: 0;
		top: 0
		z-index: -1;
}

* {box-sizing: border-box;

}

a {
	display: inline-block;
	background-color: darkturquoise;
	color: white;
	padding: 10px;
	height: 250px;
	vertical-align: top;
	margin-bottom: 5px;
	width: 300px;
	transition: 1s all ease-out;
	-webkit-transition: 1s all ease-out;
	-moz-transition: 1s all ease-out;
	-o-transition: 1s all ease-out;
}

div.links a {
	text-decoration: none;
}

div.links a:hover {
	background: mediumvioletred;
	border-radius: 20px;
}

a.tape:hover {
	font-size: x-small;
}

a.personality:hover {
	font-size: large;
}

a.surgery:hover {
	font-size: xx-small;
}

a.coughing:hover {
	font-size: x-large;
}

a.check:hover {
	font-size: larger;
}

a.window:hover {
	font-size: medium;
}

a.labyrinth:hover {
	font-size: small;
}

a.control:hover {
	font-size: smaller;
}

a.world:hover {
	font-size: xx-large;
}

a.chinchilla:hover {
	font-size: x-small;
}


