body {
	padding: 100px 50 100px 50;
	float: left;
	margin: 70px 30px 70px 30px;
	position: relative;
	border-style: groove;
	border-spacing: inherit;
	border-radius: inherit;
	border-top: double;
	

}