/** {
	background: url(page1.jpg);
	background-size: 10em;
	background-repeat: no-repeat;
	background position: center;
	vertical-align: middle;
}*/

span.centerImage {
	display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;

}