body {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	background-image:url(http://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/30/300/300227/texture0110-f.jpg);	
	text-decoration: none;
	color: black;
}

div.container {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	background-image:url(http://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/30/300/300227/texture0110-f.jpg);	
	text-decoration: none
	color: black;
}

