body {
	padding: 100px 50 100px 50;
	float: right;
	margin: 70px 30px 70px 30px;
	
} 

.p1{
     	float:right;
     }
.p2{
     	float:left;
     }
.p3{
     	float:right;
     }
.p4{
     	float:left;
     }
  

