body { 
	padding: 100px 50 100px 50;
	float: left;
	margin: 70px 30px 70px 30px;
	
} 

.p1{
     	float:right;
     }
.p2{
     	float:left;
     }
.p3{
     	float:right;
     }
.p4{
     	float:left;
     }
.p5{
     	float:right;
     }
.p6{
     	float:left;
     }
.p7{
     	float:right;
     }
.p8{
     	float:left;
     }
.p9{
     	float:right;
     }


     
    

